<div class="bg-5 full">
  <div class="container phxs">
    <div class="row nmhxs">
      <div class="col-sm-6 phxs mtm">
        <div class="dvm"></div>
        <i class="icon-logo c-16" style="font-size: 140px"></i>
        <div class="mtm c-12 fsm">
          Discover gamers you never knew were streaming!
        </div>
      </div>
      <div class="col-sm-6 phxs mtm">
        <div class="dvl hidden-xs"></div>
        <div class="pam bg-6 bras">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="mts-plus">
              <%= f.email_field :email, placeholder: "Email Address", autofocus: true, class: "paxs bg-16 bss bwas bc-5 full-width" %>
            </div>
            <div class="mts-plus">
              <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: "paxs bg-16 bss bwas bc-5 full-width" %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="mts-plus c-16">
                <%= f.check_box :remember_me %> <%= f.label :remember_me %>
              </div>
            <% end -%>
            <div class="mts-plus">
              <%= f.submit "Sign in", class: "btn btn-primary full-width" %>
            </div>
          <% end %>
          <div class="text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
